!!! 5
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    title Test Entity

    link(rel='Shortcut Icon', href='/test/favicon.ico')

    // Test CSS
    for c in testcss.split(',')
      link(href="/#{c}", type="text/css", rel="stylesheet")

    // Test Vendor
    for j in testvendorjs.split(',')
      script(src="/#{j}")

    script(type='text/javascript', charset='utf-8')
      mocha.setup('bdd');
      expect = chai.expect;

    // CSS
    for c in css.split(',')
      link(href="/#{c}", type="text/css", rel="stylesheet")

    // Vendor
    for j in vendorjs.split(',')
      script(src="/#{j}")

    // Lib
    for j in lib.split(',')
      script(src="/#{j}")

    // Tests
    for j in testjs.split(',')
      script(src="/#{j}")

  body
    #mocha

    .game-container
      canvas#game-canvas(width='500', height='400')
        p
          | Requires a modern browser to play. Try downloading
          a(href='http://google.com/chrome') Chrome
          | .
    script(type='text/javascript', charset='utf-8')
      if (navigator.userAgent.indexOf('PhantomJS') < 0) {
      mocha.run();
      }
